# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml

# Env
.env
*.env
backend/.env
frontend/.env

# Builds
frontend/build/
backend/dist/

# Capacitor / Android / iOS
android/
ios/

# Editor/OS
.DS_Store
.vscode/
