# DB
DB_HOST=localhost
DB_PORT=5432
DB_NAME=arroyo_seco
DB_USER=postgres
DB_PASSWORD=postgres

# JWT
JWT_SECRET=changeme
JWT_EXPIRATION=24h

# STRIPE
STRIPE_SECRET_KEY=sk_test_xxx

# EMAIL
EMAIL_SERVICE=smtp.example.com
EMAIL_USER=test@example.com
EMAIL_PASS=changeme

# CORS
CORS_ORIGIN=http://localhost:3000

# Server
PORT=5000
